.vscode/**
.vscode-test/**
out/test/**
dist/utilities/**
dist/modules/**
dist/extension.spec.js
dist/extension.spec.js.map
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules
out/
src/
tsconfig.json
config/webpack.config.js
